<!DOCTYPE html>
<html>
<head>
  <title>New Server</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
  <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
</head>
<body>

<div class="mx-auto" style="margin-top: 220;">
<div class="container">

	<h1>Server List</h1>
  <div class="list-group">

		<% @servers.each do |server| %>
			<div class="card" style="max-width:760px;">
				<div class="card-body">

					<div class="container">
						<div class="row">
							<div class="col-sm">
							Server id:
									<h5 class="card-title"><%= server.id %></h5>
							</div>

							<div class="col-sm">
								<div class="btn-group" role="group" aria-label="Basic example">
									<%= link_to 'Show', server_path(server), class: 'btn btn-primary' -%>
									<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
								</div>
							</div>

							<!-- Modal -->
							<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmation" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLongTitle">Delete server</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											You will delete this server. Are you sure?
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
											<%= link_to 'Delete', server_path(server), method: :delete, class: 'btn btn-danger' -%>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>
		<% end %>

	</div>
</div>
</div>


</body>
</html>